.product{
    display: inline-block;
    margin: auto;
    padding: auto;
    width: 150px;
    height: 150px;
}
img {
    width: 150px;
    height: 150px;
}
.logo {
    width: 26px;
    height: 26px;
}
input {
    position: relative;
}
form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}